/* Definizione variabili per light e dark theme */
:root {
    --primaryColor: #1d1a1a;
    --backgroundColor: #e5e5e5;
}


* {
    margin: 0 px;
    padding: 0 px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
}


/* Style dello switch light/dark theme */
.switchContainer {
    display: flex;
    align-items: center;
    order: 1;
    font-style: italic;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
    margin : 25px 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 35px;
}

/* Style del pallino dello switch*/
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}


/* Style del counter */
#titolo {
    margin-top: 10px;
    font-size: 40px;
}

#numero {
    margin-top: 20px;
    font-size: 40px;
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.buttons {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    color: var(--backgroundColor);
    border: 2px solid var(--primaryColor);
    border-radius: 50px;
    background-color: var(--primaryColor);
}

.buttons:hover {
    background-color:var(--backgroundColor);
    color: var(--primaryColor);
    cursor: pointer;
}

.reset {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--primaryColor);
    padding: 10px 25px;
    border: 2px solid var(--primaryColor);
    border-radius: 50px;
    background-color:var(--backgroundColor);
}

.reset:hover {
    color: red;
    border-color: red;
    cursor: pointer;
}